<!DOCTYPE html>
<html>
	<header>
		<title>This is a new page to try</title>
	</header>
	<body>
		<h1> This is going to be part of the website eventually right now it is just a test. </h1>
	</body>
</html>
